body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    color: #333;
}

header {
    text-align: center;
    padding: 80px 0;
    background-image: url('background.avif'); /* Replace 'background-image.jpg' with your background image file */
    background-size: cover;
    color: #e4dacf;
}

.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.feature {
    text-align: center;
}

.feature img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.cta {
    text-align: center;
    padding: 60px 0;
    background-color: #fff;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #388e3c;
}
